<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>Controller.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompany</servlet-name>
        <servlet-class>Controller.AddCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompanyServlet</servlet-name>
        <servlet-class>Controller.AddCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompanyID</servlet-name>
        <servlet-class>Controller.UpdateCompanyID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompanyServlet</servlet-name>
        <servlet-class>Controller.UpdateCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompany</servlet-name>
        <url-pattern>/AddCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompanyServlet</servlet-name>
        <url-pattern>/AddCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompanyID</servlet-name>
        <url-pattern>/UpdateCompanyID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompanyServlet</servlet-name>
        <url-pattern>/UpdateCompanyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
